* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.header {
  color: gray;
  font-weight: bolder;
  text-transform: uppercase;
  text-shadow: 1px 1px #1E3033;
}

.sub-header {
  color: gray;
  font-weight: bolder;
  text-transform: uppercase;
}


.text-color {
  color: gray;
}