* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.header {
  color: #213828;
  font-family: 'Arizonia', cursive;
  font-size: 2rem;
}

.sub-header {
  color: #213828;
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
}

.logo {
  cursor: pointer;
  outline: none;
}

.logo:hover {
  color: #1E3033;
}

.text-color {
  color: #213828;
}

.custom-btn {
  color: #1E3033;
  border-color: #213828;
  font-family: 'Arizonia', cursive;
}

.custom-btn:hover {
  color: #fff;
  background-color: #213828;
  border-color: #1E3033;
}