
.homeHeader{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.backgroundImage{
    width: 100%;
    height: 200vh;
    position: absolute;
    /* filter: grayscale(100%); */
    background-color: #672145;
    opacity: .5;
}

.backgroundImage img{
    object-fit: cover;
}

.intro {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 100vh;
}

.intro h1{
    color: #fff;;
    font-size: 7vw;
    z-index: 3;
    text-align: center;
    white-space: nowrap;
}

.introImage{
    filter: brightness(70%);
    width: 400px;
    height: 550px;
    position: absolute;
}

.introImage img{
    object-fit: cover;
    object-position: top;
}