.container {
    display: flex; 
    height: 120vh;
    align-items: center;
    padding-top: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .projectContainer{
    position: relative;
    width: 100%;
  }
  
  .projectContainer div{
    border-top: 1px solid rgb(211, 207, 207);
    cursor: pointer;
    position: relative;
    margin-bottom: -2vw;
    background-color: white;
    transition: all 0.3s ease;
  }
  
  .projectContainer div p{
    margin: 0px;
    font-size: 4vw;
    padding-left: 10px;
    text-transform: uppercase;
    pointer-events: none;
  }